<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation card-body">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card car" style="width:500px">
  <div class="card-body">
  <div class="field">
  <%= form.label :content %>
  <%= form.text_area :content, class:"form-control" %>
</div>
  <div class="field">
  <%= form.label :image %>
  <%= image_tag(@post.image.url) if @post.image && @post.image.url %>
  <%= form.file_field :image, class: "images"%>
  <%= form.hidden_field :image_cache %>
</div>
</div> 
  <div class="card-footer"> 
  <div class="actions">
  <%= form.submit %>
</div></div>
</div>
  <div class="field">
    <% if logged_in? %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%end%>
  </div>
<% end %>
