
 <p id="notice"><%= notice %></p>
<div class="logg">
<i class="fab fa-facebook-messenger m-2"></i>
<i class="fas fa-user-friends m-2"></i>
<%= link_to "Profile", user_path(current_user.id), class: "btn btn-info fas fa-user-circle" %>
   <%= link_to "Logout", session_path(current_user.id),class: " btn btn-info fas fa-sign-out-alt", method: :delete %>
   </div>
   <%= link_to 'Create Post', new_post_path , class: "newp btn btn-light"%> 
   <h1>Post</h1>
<% @posts.each do |post| %>
 
  <div class="card cardip m-2" style="width:500px">
  <div class="card-header"> 
  <hr> 
  <%= post.user.First_Name %>
  <%= post.user.Second_name %>
  </div>
  <div class="card-body">
      <%= post.content %><br>
      <%= image_tag post.image.url, class: "images" %>
      </div>
  <div class="card-footer bg-white" style="width:100%;">   
  <%= link_to 'Show', post, class: "col-sm-3  btn btn-success" %>   
<% if logged_in? %>
<% check = 0, links='1', id=nil %>
<% if current_user.id == post.user_id %>
<% check = 1%>
<%id =post%>
      <%= link_to 'Edit', edit_post_path(post), class: "col-sm-3  btn btn-info" %>
      <%= link_to 'Delete', post,class: "col-sm-3  btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      </div>
<% end %>
<% end %>
 <%end%>
      
   
   
