<!DOCTYPE html>
<html>
  <head>
    <title>Faceb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


  </head>

  <body class="bg-light">
  
  <nav class="navbar nav1 navbar-light text-light" style="height:90px">
  <p>Facebook <i class="fab fa-facebook-square"></i></p>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>
 </nav>
 <% if logged_in? %>
 <div class="logg">
 <i class="fab fa-facebook-messenger m-2"></i>
 <i class="fas fa-user-friends m-2"></i>
<%= link_to "Profile", user_path(current_user.id), class: "btn btn-info fas fa-user-circle" %>
    <%= link_to "Logout", session_path(current_user.id),class: " btn btn-info fas fa-sign-out-alt", method: :delete %>
    </div>
  <% else %> 
  <div class="logg">
  <%= link_to "Sign up", new_user_path, class: "btn btn-info fas fa-user-plus" %>
  <%= link_to "Login", new_session_path, class: "btn btn-info fas fa-sign-in-alt" %>
  </div>
  <% end %>

  <%= yield %>

  </body>
</html>
